@media screen and (max-width: 2000px) and (min-width: 1751px) {
  html {
    font-size: 18px;
  }

  header {
    padding: 1.5% 3.5% 0 3.5%;
  }

  .navigation {
    gap: 5em;
  }

  .wrapper {
    gap: 3em;
  }

  .authorization-wrapper {
    gap: 3em;
  }

  .icon-woman {
    min-width: 32.609em;
  }

  h1 {
    margin-bottom: 0.8em;
  }

  .restaur-descr {
    margin-bottom: 2em;
  }

  .order-buttons-wrapper {
    margin-bottom: 4em;
  }

  .support-logo {
    gap: 12em;
  }

  .second-part {
    font-size: 20px;
  }
}
